# 1. Import relevant libraries

# 2. Import csv file

# 3. Find out no. of rows and no. of columns in the dataframe

# 4. See first few rows of the dataframe in the notebook itself

# 5. Determine the datatype of columns

# 6. Drop columns which are not related, in your opinion

# 7. Check for null values

# 8. Drop null values from the dataframe

# 9. Change the data type of columns, wherever required

# 10. Verify the changed data type of columns

# 11. Print columns name in a list

# 12. Change column name 'Marital_Status' to 'Whether_married' and 'Cust_name' to 'Customer_name' permanently

# 13. Return the description of all the columns (count, mean, std etc.)

# 13. Return the description of these specific columns only: Age, Orders, Amount

# 14 Determine how much sum of amount males and females spent separately. Sort that amount in descending order

# 15. Draw a histogram of column Age, Resize the figure

# 16. compare on barchat how many married males are there in states: Delhi, Gujarat, Rajasthan, Telangana

# 17. With condition same as in previous question, Draw a scatter plot with Amount on y-axis and Age on x-axis

# 18. Get creative and surprise us. (Mandatory)

(Besides questions above, Put into practice knowledge you have acquired as a part of our course so far)

### Best of Luck

Thank you!